<!DOCTYPE html>
<html>
{{> head}}
<body>

<div class="container">

<header>
   <h1>{{pageTitle}}</h1>
</header>
  
<nav>
  <ul>
    <li><a href="#">Welcome</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</nav>

<article>
  <h1>Oh oh</h1>
  <p>Site is in maintenance</p>
</article>

<footer>Copyright {{year}}</footer>

</div>

</body>
</html>
